body{
    background-color: blanchedalmond;
    margin-left: 10px;
}

title{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;

}

#texto {
    color: rgb(0, 116, 81);
}

.kinal{
    text-align: center;
}

.img-size {
    width: 500px;
    height: 500px;
}